{
    "openapi": "3.0.0",
    "info": {
      "title": "Chat API",
      "description": "API for creating new chats",
      "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.getquetzal.com/api",
            "description": "Quetzal API server"
        }
    ],
    "paths": {
      "/chat/new": {
        "post": {
          "summary": "Create a new chat",
          "description": "Creates a new chat with specified participants",
          "security": [
            {
              "APIKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["participants"],
                  "properties": {
                    "participants": {
                      "type": "array",
                      "description": "List of participants in the chat",
                      "items": {
                        "type": "object",
                        "required": ["locale"],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the participant"
                          },
                          "locale": {
                            "type": "string",
                            "description": "Locale of the participant"
                          },
                          "role": {
                            "type": "string",
                            "description": "Role of the participant"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the participant (alternative to role)"
                          }
                        }
                      },
                      "minItems": 1
                    },
                    "external_id": {
                      "type": "string",
                      "description": "External identifier for the chat"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Chat successfully created",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "result": {
                        "type": "string",
                        "example": "ok"
                      },
                      "message": {
                        "type": "string",
                        "example": "A chat has been created"
                      },
                      "quetzal_chat_id": {
                        "type": "integer",
                        "description": "The internal chat ID"
                      },
                      "external_id": {
                        "type": "string",
                        "description": "External identifier for the chat (if provided)"
                      },
                      "participants": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Participant ID"
                            },
                            "locale": {
                              "type": "string",
                              "description": "Participant locale"
                            },
                            "role": {
                              "type": "string",
                              "description": "Participant role"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad request - Invalid locale",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "result": {
                        "type": "string",
                        "example": "error"
                      },
                      "message": {
                        "type": "string",
                        "example": "One of the participants has an invalid locale"
                      }
                    }
                  }
                }
              }
            },
            "422": {
              "description": "Unprocessable Entity - Unable to determine project",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "result": {
                        "type": "string",
                        "example": "error"
                      },
                      "message": {
                        "type": "string",
                        "example": "Unable to determine project for request"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "result": {
                        "type": "string",
                        "example": "error"
                      },
                      "message": {
                        "type": "string",
                        "example": "Internal server error"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/chat/get": {
        "get": {
            "summary": "Get chat details",
            "description": "Retrieves details of a chat by chat_id or external_id",
            "security": [
            {
                "APIKeyAuth": []
            }
            ],
            "parameters": [
            {
                "name": "chat_id",
                "in": "query",
                "description": "Quetzal chat ID (ex: QTZLC001) or external ID of the chat",
                "required": true,
                "schema": {
                "type": "string"
                }
            }
            ],
            "responses": {
            "200": {
                "description": "Chat details retrieved successfully",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "ok"
                        },
                        "quetzal_chat_id": {
                        "type": "string",
                        "description": "The internal chat ID"
                        },
                        "external_chat_id": {
                        "type": "string",
                        "description": "External identifier for the chat if available"
                        },
                        "created_date": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the chat was created"
                        },
                        "participants": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                            "participant_id": {
                                "type": "string",
                                "description": "Participant ID"
                            },
                            "role": {
                                "type": "string",
                                "description": "Participant role"
                            },
                            "locale": {
                                "type": "string",
                                "description": "Participant locale"
                            }
                            }
                        }
                        },
                        "total_messages": {
                        "type": "integer",
                        "description": "Total number of messages in the chat"
                        },
                        "external_message_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of external message IDs in this chat"
                        }
                    }
                    }
                }
                }
            },
            "400": {
                "description": "Bad request - Missing chat_id",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "error"
                        },
                        "message": {
                        "type": "string",
                        "example": "Missing required field: chat_id"
                        }
                    }
                    }
                }
                }
            },
            "404": {
                "description": "Chat not found",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "error"
                        },
                        "message": {
                        "type": "string",
                        "example": "Chat not found or has no participants"
                        }
                    }
                    }
                }
                }
            },
            "422": {
                "description": "Unprocessable Entity - Unable to determine project",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "error"
                        },
                        "message": {
                        "type": "string",
                        "example": "Unable to determine project for request"
                        }
                    }
                    }
                }
                }
            },
            "500": {
                "description": "Internal Server Error",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "error"
                        },
                        "message": {
                        "type": "string",
                        "example": "Internal server error"
                        }
                    }
                    }
                }
                }
            }
            }
        }
        },
      "/chat/update": {
        "post": {
            "summary": "Update chat participants",
            "description": "Updates the locale and role information for chat participants",
            "security": [
            {
                "APIKeyAuth": []
            }
            ],
            "requestBody": {
            "required": true,
            "content": {
                "application/json": {
                "schema": {
                    "type": "object",
                    "required": ["chat_id", "participants"],
                    "properties": {
                    "chat_id": {
                        "type": "string",
                        "description": "Quetzal chat ID (ex: QTZLC001) or external ID of the chat"
                    },
                    "participants": {
                        "type": "array",
                        "description": "List of participants to update",
                        "items": {
                        "type": "object",
                        "required": ["id"],
                        "properties": {
                            "id": {
                            "type": "string",
                            "description": "Unique identifier for the participant"
                            },
                            "locale": {
                            "type": "string",
                            "description": "Updated locale of the participant"
                            },
                            "role": {
                            "type": "string",
                            "description": "Updated role of the participant"
                            },
                            "name": {
                            "type": "string",
                            "description": "Updated name of the participant (alternative to role)"
                            }
                        }
                        },
                        "minItems": 1
                    }
                    }
                }
                }
            }
            },
            "responses": {
            "200": {
                "description": "Chat successfully updated",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "ok"
                        },
                        "message": {
                        "type": "string",
                        "example": "Chat has been updated successfully"
                        }
                    }
                    }
                }
                }
            },
            "400": {
                "description": "Bad request - Missing chat_id or invalid locale",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "error"
                        },
                        "message": {
                        "type": "string",
                        "example": "Chat ID is required"
                        }
                    }
                    }
                }
                }
            },
            "404": {
                "description": "Not found - Chat or participant not found",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "error"
                        },
                        "message": {
                        "type": "string",
                        "example": "Chat not found or does not belong to this project"
                        },
                        "participantId": {
                        "type": "string",
                        "description": "ID of the participant that wasn't found (when applicable)"
                        }
                    }
                    }
                }
                }
            },
            "422": {
                "description": "Unprocessable Entity - Unable to determine project",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "error"
                        },
                        "message": {
                        "type": "string",
                        "example": "Unable to determine project for request"
                        }
                    }
                    }
                }
                }
            },
            "500": {
                "description": "Internal Server Error",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "error"
                        },
                        "message": {
                        "type": "string",
                        "example": "Internal server error"
                        }
                    }
                    }
                }
                }
            }
            }
        }
    },
    "/chat/messages/get": {
        "get": {
            "summary": "Get chat messages",
            "description": "Returns a log of existing messages for a specific chat",
            "security": [
            {
                "APIKeyAuth": []
            }
            ],
            "parameters": [
            {
                "name": "chat_id",
                "in": "query",
                "description": "Quetzal chat ID (ex: QTZLC001) or external ID of the chat",
                "required": true,
                "schema": {
                "type": "string"
                }
            },
            {
                "name": "limit",
                "in": "query",
                "description": "Maximum number of messages to return",
                "required": false,
                "schema": {
                "type": "integer"
                }
            },
            {
                "name": "before",
                "in": "query",
                "description": "Timestamp to fetch messages before",
                "required": false,
                "schema": {
                "type": "string",
                "format": "date-time"
                }
            },
            {
                "name": "after",
                "in": "query",
                "description": "Timestamp to fetch messages after",
                "required": false,
                "schema": {
                "type": "string",
                "format": "date-time"
                }
            },
            {
                "name": "wait",
                "in": "query",
                "description": "Whether to wait for translations to be ready",
                "required": false,
                "schema": {
                "type": "string",
                "enum": ["true", "false"],
                "default": "false"
                }
            }
            ],
            "responses": {
            "200": {
                "description": "Chat messages retrieved successfully",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "ok"
                        },
                        "messages": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                            "participant": {
                                "type": "string",
                                "description": "Participant ID"
                            },
                            "content": {
                                "type": "string",
                                "description": "Message content"
                            },
                            "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the message was sent"
                            },
                            "translations": {
                                "type": "object",
                                "description": "Translations of the message in different locales",
                                "additionalProperties": {
                                "type": "string"
                                },
                                "example": {
                                "es-ES": "Absolutamente"
                                }
                            }
                            }
                        }
                        }
                    }
                    }
                }
                }
            },
            "400": {
                "description": "Bad request - Chat ID is required",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "message": {
                        "type": "string",
                        "example": "Chat ID is required"
                        }
                    }
                    }
                }
                }
            },
            "408": {
                "description": "Request Timeout - Translations not ready",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "message": {
                        "type": "string",
                        "example": "Chat translations not ready."
                        }
                    }
                    }
                }
                }
            },
            "422": {
                "description": "Unprocessable Entity - Unable to determine project",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "message": {
                        "type": "string",
                        "example": "Unable to determine project for request"
                        }
                    }
                    }
                }
                }
            },
            "500": {
                "description": "Internal Server Error",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "message": {
                        "type": "string",
                        "example": "Internal server error"
                        }
                    }
                    }
                }
                }
            }
            }
        }
    },
    "/chat/messages/new": {
        "post": {
            "summary": "Add new messages to a chat",
            "description": "Add one or more messages to an existing chat",
            "security": [
            {
                "APIKeyAuth": []
            }
            ],
            "requestBody": {
            "required": true,
            "content": {
                "application/json": {
                "schema": {
                    "type": "object",
                    "required": ["messages", "chat_id"],
                    "properties": {
                    "chat_id": {
                        "type": "string",
                        "description": "Quetzal chat ID (ex: QTZLC001) or external ID of the chat"
                    },
                    "messages": {
                        "type": "array",
                        "description": "Array of messages to add to the chat",
                        "items": {
                        "type": "object",
                        "required": ["content", "participant"],
                        "properties": {
                            "content": {
                            "type": "string",
                            "description": "Content of the message"
                            },
                            "participant": {
                            "type": "string",
                            "description": "Identifier of the participant sending the message"
                            }
                        }
                        },
                        "minItems": 1
                    }
                    }
                }
                }
            }
            },
            "responses": {
            "201": {
                "description": "Messages successfully added",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "ok"
                        },
                        "messages": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                            "participant": {
                                "type": "string",
                                "description": "Participant identifier"
                            },
                            "content": {
                                "type": "string",
                                "description": "Content of the message"
                            },
                            "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Time when the message was created"
                            },
                            "translations": {
                                "type": "object",
                                "additionalProperties": {
                                "type": "string"
                                },
                                "description": "Translations of the message content, with language codes as keys"
                            }
                            }
                        }
                        }
                    }
                    },
                    "example": {
                    "result": "ok",
                    "messages": [
                        {
                        "participant": "9",
                        "content": "Absolutely",
                        "timestamp": "2025-03-14T01:42:25.960Z",
                        "translations": {
                            "es-ES": "Absolutamente"
                        }
                        },
                        {
                        "participant": "9",
                        "content": "Absolutely. Anything else?",
                        "timestamp": "2025-03-14T01:43:24.829Z",
                        "translations": {
                            "es-ES": "Absolutamente. ¿Algo más?"
                        }
                        }
                    ]
                    }
                }
                }
            },
            "400": {
                "description": "Bad request",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "message": {
                        "type": "string"
                        }
                    }
                    },
                    "examples": {
                    "missingMessages": {
                        "value": {
                        "message": "Messages must be a non-empty array"
                        }
                    },
                    "missingChatId": {
                        "value": {
                        "message": "chat_id is required"
                        }
                    },
                    "invalidMessage": {
                        "value": {
                        "message": "Each message must have content and participant"
                        }
                    },
                    "invalidParticipant": {
                        "value": {
                        "message": "Participant with id 123 not found in chat 456"
                        }
                    }
                    }
                }
                }
            },
            "404": {
                "description": "Chat not found",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "message": {
                        "type": "string",
                        "example": "Chat not found"
                        }
                    }
                    }
                }
                }
            },
            "409": {
                "description": "Conflict - Messages already exist",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "message": {
                        "type": "string",
                        "example": "Messages already exist"
                        }
                    }
                    }
                }
                }
            },
            "422": {
                "description": "Unable to determine project",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "message": {
                        "type": "string",
                        "example": "Unable to determine project for request"
                        }
                    }
                    }
                }
                }
            },
            "500": {
                "description": "Internal Server Error",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "message": {
                        "type": "string",
                        "example": "Internal server error"
                        }
                    }
                    }
                }
                }
            }
            }
        }
    },
    "/translate": {
        "post": {
            "summary": "Translate content to a target language",
            "description": "Translates text or HTML content to a specified target language",
            "security": [
                {
                    "APIKeyAuth": []
                }
            ],
            "requestBody": {
            "required": true,
            "content": {
                "application/json": {
                "schema": {
                    "type": "object",
                    "required": ["content", "target"],
                    "properties": {
                    "content": {
                        "type": "string",
                        "description": "The content to be translated"
                    },
                    "target": {
                        "type": "string",
                        "description": "The target language code for translation (e.g., 'es', 'fr', 'de')"
                    },
                    "format": {
                        "type": "string",
                        "description": "The format of the content to be translated",
                        "enum": ["text", "html"],
                        "default": "text"
                    }
                    }
                }
                }
            }
            },
            "responses": {
            "201": {
                "description": "Content successfully translated",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "ok"
                        },
                        "message": {
                        "type": "string",
                        "example": "Translated successfully"
                        },
                        "translation": {
                        "type": "string",
                        "description": "The translated content"
                        }
                    }
                    }
                }
                }
            },
            "402": {
                "description": "Payment Required - Insufficient balance",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "error"
                        },
                        "message": {
                        "type": "string",
                        "example": "Insufficient balance. Needed: $0.10, Available: $0.05"
                        },
                        "topUpUrl": {
                        "type": "string",
                        "description": "URL to top up the balance"
                        }
                    }
                    }
                }
                }
            },
            "403": {
                "description": "Forbidden - API access not enabled",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "error"
                        },
                        "message": {
                        "type": "string",
                        "example": "API access not enabled. Please subscribe to API access in your dashboard settings."
                        },
                        "upgradeUrl": {
                        "type": "string",
                        "description": "URL to enable API access"
                        }
                    }
                    }
                }
                }
            },
            "422": {
                "description": "Unprocessable Entity - Invalid or missing parameters",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "error"
                        },
                        "message": {
                        "type": "string",
                        "example": "Content is missing: Specify content to be translated in the request body"
                        }
                    }
                    }
                }
                }
            },
            "500": {
                "description": "Internal Server Error",
                "content": {
                "application/json": {
                    "schema": {
                    "type": "object",
                    "properties": {
                        "result": {
                        "type": "string",
                        "example": "error"
                        },
                        "message": {
                        "type": "string",
                        "example": "Internal server error"
                        }
                    }
                    }
                }
                }
            }
            }
        }
        }
    },
    "components": {
      "securitySchemes": {
        "APIKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key"
        }
    }
    }
  }